extends dashLayout
block content
    .row
        .col-xl-3.col-sm-6.mb-xl-0.mb-4
            .card
                .card-header.p-3.pt-2
                    .icon.icon-lg.icon-shape.bg-gradient-dark.shadow-dark.text-center.border-radius-xl.mt-n4.position-absolute
                        i.material-icons.opacity-10 monitor_heart
                    .text-end.pt-1
                        p.text-sm.mb-0.text-capitalize Monitoring
                        - let totalWebsites = websites.length
                        h4.mb-0.totalMonitors 0
                hr.dark.horizontal.my-0
                .card-footer.p-3
                    //- p.mb-0
                        span.text-success.text-sm.font-weight-bolder +55% 
                        | than last week
        .col-xl-3.col-sm-6.mb-xl-0.mb-4
            .card
                .card-header.p-3.pt-2
                    .icon.icon-lg.icon-shape.bg-gradient-primary.shadow-primary.text-center.border-radius-xl.mt-n4.position-absolute
                        i.material-icons.opacity-10 sensors_off
                    .text-end.pt-1
                        p.text-sm.mb-0.text-capitalize Offline
                        h4.mb-0(id='offline') 0
                hr.dark.horizontal.my-0
                .card-footer.p-3
                    //- p.mb-0
                        span.text-success.text-sm.font-weight-bolder +3% 
                        | than last month
        .col-xl-3.col-sm-6.mb-xl-0.mb-4
            .card
                .card-header.p-3.pt-2
                    .icon.icon-lg.icon-shape.bg-gradient-success.shadow-success.text-center.border-radius-xl.mt-n4.position-absolute
                        i.material-icons.opacity-10 sensors
                    .text-end.pt-1
                        p.text-sm.mb-0.text-capitalize Online
                        h4.mb-0(id="live") 0
                hr.dark.horizontal.my-0
                .card-footer.p-3
                    //- p.mb-0
                        span.text-danger.text-sm.font-weight-bolder -2%
                        |  than yesterday
        .col-xl-3.col-sm-6
            .card
                .card-header.p-3.pt-2
                    .icon.icon-lg.icon-shape.bg-gradient-info.shadow-info.text-center.border-radius-xl.mt-n4.position-absolute
                        i.material-icons.opacity-10 list_alt
                    .text-end.pt-1
                        p.text-sm.mb-0.text-capitalize All Services
                        h4.mb-0 #{totalWebsites}
                hr.dark.horizontal.my-0
                .card-footer.p-3
                    //- p.mb-0
                        span.text-success.text-sm.font-weight-bolder +5% 
                        | than yesterday
    //- .row.mt-4
        .col-lg-4.col-md-6.mt-4.mb-4
            .card.z-index-2
                .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2.bg-transparent
                    .bg-gradient-primary.shadow-primary.border-radius-lg.py-3.pe-1
                        .chart
                            canvas#chart-bars.chart-canvas(height="170")
                .card-body
                    h6.mb-0 Website Views
                    p.text-sm Last Campaign Performance
                    hr.dark.horizontal
                    .d-flex
                        i.material-icons.text-sm.my-auto.me-1 schedule
                        p.mb-0.text-sm campaign sent 2 days ago
        .col-lg-4.col-md-6.mt-4.mb-4
            .card.z-index-2
                .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2.bg-transparent
                    .bg-gradient-success.shadow-success.border-radius-lg.py-3.pe-1
                        .chart
                            canvas#chart-line.chart-canvas(height="170")
                .card-body
                    h6.mb-0 Daily Sales
                    p.text-sm
                        | (
                        span.font-weight-bolder +15%
                        | ) increase in today sales.
                    hr.dark.horizontal
                    .d-flex
                        i.material-icons.text-sm.my-auto.me-1 schedule
                        p.mb-0.text-sm updated 4 min ago
        .col-lg-4.mt-4.mb-3
            .card.z-index-2
                .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2.bg-transparent
                    .bg-gradient-dark.shadow-dark.border-radius-lg.py-3.pe-1
                        .chart
                            canvas#chart-line-tasks.chart-canvas(height="170")
                .card-body
                    h6.mb-0 Completed Tasks
                    p.text-sm Last Campaign Performance
                    hr.dark.horizontal
                    .d-flex
                        i.material-icons.text-sm.my-auto.me-1 schedule
                        p.mb-0.text-sm just updated
    .row.mb-4.mt-4
        .col-lg-8.col-md-6.mb-md-0.mb-4
            .card
                .card-header.pb-0
                    .row
                        .col-lg-6.col-7
                            h6 Monitored Websites
                            p.text-sm.mb-0
                                i.fa.fa-check.text-info(aria-hidden="true")  
                                span.spinner-border.spinner-border-sm(id=`monitorsLoader` role="status" aria-hidden="true")  
                                span.font-weight-bold.ms-1.totalMonitors
                                //- span.font-weight-bold.ms-1 #{allSites.length} services
                                span.font-weight-bold.ms-1  services
                                |  currently monitoring

                        .col-lg-6.col-5.my-auto.text-end
                            .dropdown.float-lg-end.pe-4
                                a.cursor-pointer#dropdownTable(data-bs-toggle="dropdown" aria-expanded="false")
                                    i.fa.fa-ellipsis-v.text-secondary .
                                ul.dropdown-menu.px-2.py-3.ms-sm-n4.ms-n5(aria-labelledby="dropdownTable")
                                    li
                                        a.dropdown-item.border-radius-md(href="javascript:;" data-bs-toggle="modal" data-bs-target=`#addMonitor`) Add New
                                    li
                                        a.dropdown-item.border-radius-md(href="javascript:;") Another action
                                    li
                                        a.dropdown-item.border-radius-md(href="javascript:;") Something else here
                                include includes/modals/createMonitor
                .card-body.px-0.pb-2
                    .table-responsive
                        table.table-hover.table.align-items-center.mb-0(id="datatable-monitor")
                            thead
                                tr
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Websites/APIs
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Monitoring Team
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Check Interval(Minutes)
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Status
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Action
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 ID
                            tbody
                                //- each site in allSites
                                    tr
                                        td
                                            .d-flex.px-2.py-1
                                                div
                                                    img.avatar.avatar-sm.me-3(src=`${site.Website.url}/favicon.ico` alt="favicon")
                                                .d-flex.flex-column.justify-content-center
                                                    h6.mb-0.text-sm #{site.Website.name} 
                                        td
                                            .avatar-group.mt-2
                                                | #{site.Team.name}
                                                br
                                                each user in site.Team.Members
                                                    a.avatar.avatar-xs.rounded-circle(href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="bottom" title=`${user.firstName} ${user.lastName}`)
                                                        //- img(src="../assets/img/team-1.jpg" alt="team1")
                                                        if (user.avatarPath)
                                                            img(alt="user's avatar" src=`${user.avatarPath}`)
                                                        else
                                                            img(alt="Image placeholder" src="../../assets/img/team-1.jpg")
                                        td.align-middle.text-center.text-sm
                                            span.text-xs.font-weight-bold #{site.interval} Minutes
                                        td.align-middle.text-center.text-sm
                                            span.text-xs.font-weight-bold #{site.User.firstName} #{site.User.lastName}
                                        td.align-middle.text-center.text-sm
                                            if (site.Monitor_Status.name == 'Live')
                                                span.badge.badge-sm.badge-success #{site.Monitor_Status.name}
                                            if (site.Monitor_Status.name == 'Offline')
                                                span.badge.badge-sm.badge-danger #{site.Monitor_Status.name}

                                        //- td.align-middle
                                            .progress-wrapper.w-75.mx-auto
                                                .progress-info
                                                    .progress-percentage
                                                        span.text-xs.font-weight-bold 60%
                                                .progress
                                                    .progress-bar.bg-gradient-info.w-60(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
                            include includes/modals/editMonitor

        .col-lg-4.col-md-6
            .card.h-100
                .card-header.pb-0
                    h6 Activity overview
                    p.text-sm
                        i.fa.fa-arrow-up.text-success(aria-hidden="true")
                        span.font-weight-bold 24%
                        |  this month

                .card-body.p-3
                    //- .timeline.timeline-one-side
                        .timeline-block.mb-3
                            span.timeline-step
                                i.material-icons.text-success.text-gradient notifications
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 $2400, Design changes
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 22 DEC 7:20 PM
                        .timeline-block.mb-3
                            span.timeline-step
                                i.material-icons.text-danger.text-gradient code
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 New order #1832412
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 21 DEC 11 PM
                        .timeline-block.mb-3
                            span.timeline-step
                                i.material-icons.text-info.text-gradient shopping_cart
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 Server payments for April
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 21 DEC 9:34 PM
                        .timeline-block.mb-3
                            span.timeline-step
                                i.material-icons.text-warning.text-gradient credit_card
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 New card added for order #4395133
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 20 DEC 2:20 AM
                        .timeline-block.mb-3
                            span.timeline-step
                                i.material-icons.text-primary.text-gradient key
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 Unlock packages for development
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 18 DEC 4:54 AM
                        .timeline-block
                            span.timeline-step
                                i.material-icons.text-dark.text-gradient payments
                            .timeline-content
                                h6.text-dark.text-sm.font-weight-bold.mb-0 New order #9583120
                                p.text-secondary.font-weight-bold.text-xs.mt-1.mb-0 17 DEC

    <script src="/assets/js/plugins/datatables.js"></script>
    script.

        //- document.addEventListener('DOMContentLoaded',function(){
            const dataTableMonitor = new simpleDatatables.DataTable("#datatable-monitor", {
                searchable: true,
                fixedHeight: false
            });

            let load = $('#monitorsLoader').hide();
            let totalMonitors = $('.totalMonitors');
            let online = $('#live');
            let offline = $('#offline');

            function makeAjaxCall(){
                $.ajax(
                    {
                        url:`/dashboard/api/monitors`,
                        type:'get',

                        beforeSend: function () {
                            showSpinner('.overlay-spinner');
                        },

                        complete: function () {
                            hideSpinner('.overlay-spinner');
                        },

                        success:function(result){
                            if(result.status == 'success'){
                                //- call function to update data
                                updateTableData(dataTableMonitor,result.data);
                                //- get total online
                                totalMonitors.text(result.data.length);

                                let alloffline = result.data.filter(function(monitor){
                                    return monitor.Monitor_Status.name =='Offline';
                                })
                                offline.text(alloffline.length);
                                let live = result.data.filter(function(monitor){
                                    return monitor.Monitor_Status.name =='Live';
                                })
                                online.text(live.length);
                            }
                        },

                        error: function (xhr, status, error) {
                            console.error('AJAX Error:', error);
                        }
                    }
                )
            };
            //- function to insert new rows
            function updateTableData(table, newData) {
                try{
                    // Clear the existing table body
                    table.destroy();
                    table.init()
                    // Add new rows to the table body
                    newData.forEach(function(data) {
                        let id = `${data.id}`;
                        let name =
                            `
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div><img class="avatar avatar-sm me-3" src='${data.Website.url}/favicon.ico' alt="favicon"></div>
                                        <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">${data.Website.name}</h6>
                                        <br/>
                                        <p class='text-muted'>
                                            <a class='text-xs' target='_blank' href='${data.Website.url}'>${data.Website.url}</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            `;

                        let members =[];
                        data.Team.Members.forEach(function(member){
                            member =
                                `
                                    <a class="avatar avatar-xs rounded-circle" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="${member.firstName} ${member.lastName}">
                                        <img alt="Image placeholder" src="/assets/img/team-1.jpg"/>
                                    </a>
                                `
                            members.push(member);
                        })
                        let team =
                            `
                            <td>
                                <div class="text-sm avatar-group">${data.Team.name}
                                    <br/>
                                    ${members.join('')}
                                </div>
                            </td>
                            `;
                        let interval =
                            `
                            <td class="text-center text-sm">
                                <span class="text-xs">${data.interval} Minutes</span>
                            </td>
                            `;
                        let status;
                        if (data.Monitor_Status.name == 'Offline'){
                            status =
                                `
                                <td class="text-center text-sm">
                                    <span class="badge badge-sm badge-danger">${data.Monitor_Status.name}</span>
                                </td>
                                `;
                        }else{
                            status =`
                                <td class="text-center text-sm">
                                    <span class="badge badge-sm badge-success">${data.Monitor_Status.name}</span>
                                </td>
                                `;
                        };
                        let action =
                            `
                            <td class="text-center text-sm">
                                <span class="text-xs">
                                    <a href="/dashboard/monitor/${data.id}"><i class="material-icons opacity-10">visibility</i></a>
                                </span>
                            </td>
                            `;

                        table.insert(
                            {
                                headings:["Website/API","Monitoring Team","Check Interval","Status","Id"],
                                data:[
                                    [
                                        name, //You can also use html
                                        team,
                                        interval,
                                        status,
                                        action,
                                        id,
                                    ]
                                ]
                            }
                        );
                    });

                    table.update(measureWidths=false);
                    //- create a modal for each row
                    createModal(newData);
                }catch(error){
                    console.log(error);
                }
            };

            makeAjaxCall();

            document.addEventListener('DOMContentLoaded',function(){
                if(#{user.id}){
                    socket.on(`siteStatus_#{user.id}`,(data)=>{
                        console.log('refreshing');
                        makeAjaxCall();
                    });
            }  
            });

            function createModal(){
                $('#datatable-monitor tbody').on('click', 'tr', function() {
                    const data = this.children;
                    for(let i = 0; i<data.length; i++){
                    console.log(data[1]);
                        //- console.log("interval is "+data[i].interval)
                        $('#monitorModalLabel').text(data[0].textContent);
                        $('#checkInterval').val(parseInt(data[2].textContent));
                        //- $('#lastName').val(data[1].data);
                        //- $('#email').val(data[2].data);
                        $('#team-choices2 option:selected').text(data[1].textContent);
                        //- setSelectedOption(data[1].textContent);
                        $('#monitorForm').attr('action',`/dashboard/monitoring/update/${data[5].data}`);
                    }

                    // Show the modal with the group details
                    $('#monitorModal').modal('show');

                })
            }
            function setSelectedOption(option) {
                console.log(option)
                const selectElement = document.getElementById("team-choices2");
                const optionToSelect = option; // The value of the option you want to select

                // Loop through the options and set the selected property accordingly
                for (let i = 0; i < selectElement.options.length; i++) {
                    const option = selectElement.options[i];
                    if (option.text === optionToSelect) {
                        option.selected = true;
                    } else {
                        option.selected = false; // Deselect other options
                    }
                }
            };
            //- })