<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    //- <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link rel="icon" type="image/ico" href="../favicon.ico">
    <title>
        | #{title}
    </title>
    //- <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    //- <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    //- <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    //- <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    //- <!-- CSS Files -->
    //- <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    //- main dashboard style
    <link id="pagestyle" href="/assets/css/material-dashboard.minaf3e.css?v=3.0.6" rel="stylesheet" />
    script(src="/assets/js/jquery.min.js")
    //- toaterjs
    script(src="/assets/toaster/toastr.js")
    link(rel="stylesheet" href="/assets/toaster/toastr.css")
    //- multi-select tag files
    <link rel="stylesheet" href="/assets/src/css/multi-select-tag.css">
    script(src="/assets/src/js/multi-select-tag.js")
    //- axios
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    //- sweet alert
    script(src="/assets/sweetAlert/sweetalert2.all.min.js")
    link(rel="stylesheet" href="/assets/sweetAlert/sweetalert2.min.css")
    //- include my custom spinner
    link(rel="stylesheet" href="/assets/spinner/spinner.css")
    //- Animatecss
    link(rel="stylesheet", href="/assets/css/animate.min.css")
    //- moment
    <script src="/assets/momentjs/moment.min.js"></script>
    script.
        // sweet alert defaults
        let Toast = Swal.mixin({
            toast: true,
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            showClass: {
                popup: 'animate__animated animate__fadeInRight'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutRight'
            },
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
    //- dropzoneJs
    script(src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js")
    link(rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css")
        //- my spinnerjs file
    <script src="/assets/spinner/spinner.js"></script>
    //- Socket.io
    script(src="/socket.io/socket.io.js")

</head>

<body class="g-sidenav-show  bg-gray-200">
    .overlay-spinner
        .loadingio-spinner-double-ring-48ko84rz8u8
            .ldio-ii7oxxrr1x
                div
                div
                div
                    div
                div
                    div
    include includes/sidebar
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        include includes/navbar
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            block content
            include includes/footer
        </div>
    </main>
    include includes/settings

    //- <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>


    //- <script src="/assets/js/chartData.js"></script>

    <script src="/assets/js/plugins/choices.min.js"></script>
    //- Setting up choice js for multiple selection of choices
    script(type="text/javascript").
        if (document.getElementById('website-choices')) {
            var website = document.getElementById('website-choices');
            const website1 = new Choices(website, {});
        }
        if (document.getElementById('team-choices')) {
            var team = document.getElementById('team-choices');
            const team1 = new Choices(team, {});
        }
        //- if (document.getElementById('team-choices2')) {
        //-     var team = document.getElementById('team-choices2');
        //-     const team1 = new Choices(team, {});
        //- }
        if(document.getElementById(`users`)){
            var NewUsers = document.getElementById(`users`);
            const Users = new Choices(NewUsers, {});
        }

    script.
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    //- <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.minaf3e.js?v=3.0.6"></script>
    script.
        //- let Toast = Swal.mixin({
        //-     toast: true,
        //-     position: 'top',
        //-     showConfirmButton: false,
        //-     timer: 3000,
        //-     timerProgressBar: true,
        //-     didOpen: (toast) => {
        //-         toast.addEventListener('mouseenter', Swal.stopTimer)
        //-         toast.addEventListener('mouseleave', Swal.resumeTimer)
        //-     }
        //- });
        const socket = io();
        socket.on('connect',(data)=>{
            console.log('connected')
        });
        socket.emit('newLogin','#{user.firstName} connected');

        //- each user handles their respective notification events
        if(#{user.id}){
            socket.on(`siteStatus_#{user.id}`,(data)=>{
                Toast.fire({
                    title:data,
                    icon:'success'
                })
            });
            socket.on(`error_#{user.id}`,(error)=>{
                Toast.fire({
                    title: error,
                    icon: 'error'
                })
            });
        }

    //- <script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
    //- <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7d72e6dd8fd33cf5","version":"2023.4.0","r":1,"b":1,"token":"1b7cbb72744b40c580f8633c6b62637e","si":100}' crossorigin="anonymous"></script>
</body>

</html>