extends dashLayout
block content
    .row.mt-4.mb-5.mb-md-0
        .col-sm-6
            .card.h-100
                .card-header.pb-0.p-3
                    .d-flex.align-items-center
                        h6.mb-0 New Member
                        button.btn.btn-icon-only.btn-rounded.btn-outline-secondary.mb-0.ms-2.btn-sm.d-flex.align-items-center.justify-content-center.ms-auto(type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create new member")
                            i.material-icons.text-sm priority_high
                .card-body.p-3
                    .multisteps(data-animation="FadeIn").p-5.py-4
                        .row.text-center.mt-4
                            .col-10.mx-auto
                                h5.font-weight-normal Let's create a new member.
                                p Use an address that will receive website status.
                        .form__content
                            form(method='post' action='#' id="memberForm")
                                .row.mt-3
                                    .col-12.col-sm-4
                                        .avatar.avatar-xxl.position-relative
                                            img.border-radius-md(src="../../assets/img/user.png" alt="team-2")
                                            a.btn.btn-sm.btn-icon-only.bg-gradient-primary.position-absolute.bottom-0.end-0.mb-n2.me-n2(href="javascript:;")
                                                span.material-icons.text-xs.top-0.mt-n2(data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" data-bs-original-title="Edit Image" aria-label="Edit Image") edit 
                                    .col-12.col-sm-8.mt-4.mt-sm-0.text-start
                                        .input-group.input-group-dynamic.mb-4
                                            label.form-label First Name
                                            input.form-control.multisteps-form__input(type="text" required name="firstName")
                                        .input-group.input-group-dynamic.mb-4
                                            label.form-label Last Name
                                            input.form-control.multisteps-form__input(type="text" required name="lastName")
                                        .input-group.input-group-dynamic.mb-4
                                            label.form-label Email Address
                                            input.form-control.multisteps-form__input(type="email" name="email")
                                        .input-group.input-group-dynamic
                                            label.form-label Phone
                                            input.form-control.multisteps-form__input(type="tel" required name="phone")

                                .button-row.d-flex.mt-4
                                    button.btn.bg-gradient-dark.ms-auto.mb-0.js-btn-next(type="submit" id="newMember" title="Next") Create 
                                        span.spinner-border.spinner-border-sm(id=`Loader` role="status" aria-hidden="true")
        .col-sm-6
            .card.h-100.mt-4.mt-md-0
                .card-header.pb-0.p-3
                    .d-flex.align-items-center
                        h6 All Members
                        button.btn.btn-icon-only.btn-rounded.btn-outline-success.mb-0.ms-2.btn-sm.d-flex.align-items-center.justify-content-center.ms-auto(type="button" id="refreshBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Members available")
                            i.material-icons.text-sm done
                .card-body.px-3.pt-0.pb-2
                    .table-responsive.p-0
                        table.table.align-items-center.justify-content-center.mb-0(id=`datatable-members`)
                            span.spinner-border.spinner-border-sm(id=`membersLoader` role="status" aria-hidden="true")

                            thead
                                tr
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 First Name
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Last Name
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Email
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Phone
                            tbody


        <script src="/assets/js/plugins/datatables.js"></script>
        script(type="text/javascript").
            document.addEventListener('DOMContentLoaded',function(){
                var dataTable = new simpleDatatables.DataTable("#datatable-members", {
                    searchable: true,
                    fixedHeight: true,
                    data:'',
                    order:[[0,'asc']]
                });

                let load = $('#membersLoader').hide();

                function updateTableData(table, newData) {
                    try{
                        // Clear the existing table body
                        table.destroy();
                        table.init()
                        // Add new rows to the table body
                        newData.forEach(function(data) {
                            phone = `0${data.phone.toString()}`
                            table.insert(
                                {
                                    headings:["First Name","Last Name","Email","Phone"],
                                    data:[
                                        [
                                            `${data.firstName}`,
                                            data.lastName,
                                            data.email,
                                            phone]
                                    ]
                                }
                            );
                        });

                        table.update(measureWidths=false);
                    }catch(error){
                        console.log(error);
                    }
                }

                $('#refreshBtn').on('click',function(){
                    makeAjaxCall();
                })
                //- ######################## FUNCTION TO LOAD TABLE ######################################
                function makeAjaxCall(){
                    $.ajax(
                        {
                            url:`/dashboard/members/api`,
                            type:'get',

                            beforeSend: function () {
                                load.show(function () {
                                    //- $(this).prop("disabled", true);
                                });
                            },

                            complete: function () {
                                load.hide(function () {
                                    //- $(this).removeAttr('disabled');
                                });
                            },

                            success:function(result){
                                //- console.log('All members include',result);
                                if(result.status == 'success'){
                                    //- call function to update data
                                    updateTableData(dataTable,result.data);
                                }
                            },

                            error: function (xhr, status, error) {
                                console.error('AJAX Error:', error);
                            }
                        }
                    )
                };
                //- ######################## FUNCTION TO FETCH GROUPS ######################################
                //- this function fetches latest members
                makeAjaxCall();

                    //- function to submit new member
                var Loader = $('#Loader').hide();
                var memberForm = $('#memberForm');
                //- Ajax Submit Stk push
                $('#newMember').on('click',function(event){
                    event.preventDefault();
                    if(!$("input[name='email']").val()){
                        Toast.fire({
                            icon: 'error',
                            title: 'Invalid email'
                        })
                    }else{
                        $.ajax({
                            url:'/dashboard/members/api',
                            type:'post',
                            data:memberForm.serialize(),

                            beforeSend:function(){
                                Loader.show(function(){
                                    $(this).prop("disabled", true);
                                })
                            },

                            complete: function () {
                                Loader.hide(function () {
                                    $(this).removeAttr('disabled');
                                });
                            },

                            success: function (result) {
                                console.log(result);
                                if (result.status == 'success') {
                                    //- clear form
                                    memberForm[0].reset();
                                    Toast.fire({
                                        icon: result.status,
                                        title: result.data
                                    });
                                    makeAjaxCall();
                                } else {
                                    Toast.fire({
                                        icon: `${result.status}`,
                                        title: `${result.data}!`,
                                    });
                                }
                            },
                            timeout:30000,
                            error: function (request, status, error) {
                                console.log(error);
                                Toast.fire({
                                    icon: "error",
                                    title: "Request time out please try again!"
                                });
                            }
                        })
                    }
                });
            });