extends dashlayout 
block content
    .row
        .col-12
            button.btn.btn-icon.btn-3.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modal-form").mb-3.float-right
                span.btn-inner--icon
                    i.material-icons add
                span.btn-inner--text Add
            include includes/modals/addSite
            .card.my-4
                if (notify)
                    include authentication/mixins/alert
                    +alert(notify)
                .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
                    .bg-gradient-primary.shadow-primary.border-radius-lg.pt-4.pb-3
                        h6.text-white.text-capitalize.ps-3 My Websites
                .card-body.px-0.pb-2

                    .table-responsive.p-0
                        table.table.align-items-center.mb-0(id='datatable-search').table-flush
                            thead
                                tr
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Name
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 URL
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Status
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Created By
                                    th.text-secondary.opacity-7 Action
                            tbody
                                each site in sites
                                    tr
                                        td
                                            .d-flex.px-2.py-1
                                                div
                                                    img.avatar.avatar-sm.me-3.border-radius-lg(src=`https://${site.url}/favicon.ico` alt="user1")
                                                .d-flex.flex-column.justify-content-center
                                                    h6.mb-0.text-sm #{site.name}
                                                    p.text-xs.text-secondary.mb-0 #{site.url}
                                        td
                                            p.text-xs.font-weight-bold.mb-0 https://#{site.url}
                                            p.text-xs.text-secondary.mb-0 #{site.organization}
                                        td.align-middle.text-center.text-sm
                                            span.badge.badge-sm(class=`bg-gradient-${site.SiteStatus.color}`) #{site.SiteStatus.status}
                                        td.align-middle.text-center
                                            span.text-secondary.text-xs.font-weight-bold #{site.User.firstName}
                                        td.align-middle
                                            a.text-secondary.font-weight-bold.text-xs(href="javascript:;" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target=`#modal-form${site.id}`).

                                                Edit
                                            include includes/modals/editSite
        //- .row
            .col-12
                .card.my-4
                    .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
                        .bg-gradient-primary.shadow-primary.border-radius-lg.pt-4.pb-3
                            h6.text-white.text-capitalize.ps-3 Projects table
                    .card-body.px-0.pb-2
                        .table-responsive.p-0
                            table.table.align-items-center.justify-content-center.mb-0(id='datatable-one')
                                thead
                                    tr
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Project
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Budget
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 Status
                                        th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.text-center.opacity-7.ps-2 Completion
                                        th
                                tbody
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/logo-asana.svg" alt="spotify")
                                                .my-auto
                                                    h6.mb-0.text-sm Asana
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $2,500
                                        td
                                            span.text-xs.font-weight-bold working
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 60%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-info(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0
                                                i.fa.fa-ellipsis-v.text-xs
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/github.svg" alt="invision")
                                                .my-auto
                                                    h6.mb-0.text-sm Github
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $5,000
                                        td
                                            span.text-xs.font-weight-bold done
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 100%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-success(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0(aria-haspopup="true" aria-expanded="false")
                                                i.fa.fa-ellipsis-v.text-xs
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/logo-atlassian.svg" alt="jira")
                                                .my-auto
                                                    h6.mb-0.text-sm Atlassian
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $3,400
                                        td
                                            span.text-xs.font-weight-bold canceled
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 30%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-danger(role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30" style="width: 30%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0(aria-haspopup="true" aria-expanded="false")
                                                i.fa.fa-ellipsis-v.text-xs
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/bootstrap.svg" alt="webdev")
                                                .my-auto
                                                    h6.mb-0.text-sm Bootstrap
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $14,000
                                        td
                                            span.text-xs.font-weight-bold working
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 80%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-info(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0(aria-haspopup="true" aria-expanded="false")
                                                i.fa.fa-ellipsis-v.text-xs
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/logo-slack.svg" alt="slack")
                                                .my-auto
                                                    h6.mb-0.text-sm Slack
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $1,000
                                        td
                                            span.text-xs.font-weight-bold canceled
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 0%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-success(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0(aria-haspopup="true" aria-expanded="false")
                                                i.fa.fa-ellipsis-v.text-xs
                                    tr
                                        td
                                            .d-flex.px-2
                                                div
                                                    img.avatar.avatar-sm.rounded-circle.me-2(src="../assets/img/small-logos/devto.svg" alt="xd")
                                                .my-auto
                                                    h6.mb-0.text-sm Devto
                                        td
                                            p.text-sm.font-weight-bold.mb-0 $2,300
                                        td
                                            span.text-xs.font-weight-bold done
                                        td.align-middle.text-center
                                            .d-flex.align-items-center.justify-content-center
                                                span.me-2.text-xs.font-weight-bold 100%
                                                div
                                                    .progress
                                                        .progress-bar.bg-gradient-success(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;")
                                        td.align-middle
                                            button.btn.btn-link.text-secondary.mb-0(aria-haspopup="true" aria-expanded="false")
                                                i.fa.fa-ellipsis-v.text-xs
