extends dashlayout 
block content
    .row
        .col-12
            button.btn.btn-icon.btn-3.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modal-form").mb-3.float-right
                span.btn-inner--icon
                    i.material-icons add
                span.btn-inner--text Add
            include includes/modals/addSite
            .card.my-4
                if (notify)
                    include authentication/mixins/alert
                    +alert(notify)
                .card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
                    .bg-gradient-primary.shadow-primary.border-radius-lg.pt-4.pb-3
                        h6.text-white.text-capitalize.ps-3 My Websites
                .card-body.px-0.pb-2

                    .table-responsive.p-0
                        table.table.align-items-center.mb-0(id='datatable-search').table-flush
                            thead
                                tr
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Name
                                    th.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7.ps-2 URL
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Status
                                    th.text-center.text-uppercase.text-secondary.text-xxs.font-weight-bolder.opacity-7 Created By
                                    th.text-secondary.opacity-7 Action
                            tbody
                                each site in sites
                                    tr
                                        td
                                            .d-flex.px-2.py-1
                                                div
                                                    img.avatar.avatar-sm.me-3.border-radius-lg(src=`https://${site.url}/favicon.ico` alt="user1")
                                                .d-flex.flex-column.justify-content-center
                                                    h6.mb-0.text-sm #{site.name}
                                                    p.text-xs.text-secondary.mb-0 #{site.url}
                                        td
                                            p.text-xs.font-weight-bold.mb-0 https://#{site.url}
                                            p.text-xs.text-secondary.mb-0 #{site.organization}
                                        td.align-middle.text-center.text-sm
                                            span.badge.badge-sm(class=`bg-gradient-${site.SiteStatus.color}`) #{site.SiteStatus.status}
                                        td.align-middle.text-center
                                            span.text-secondary.text-xs.font-weight-bold #{site.User.firstName}
                                        td.align-middle
                                            a.text-secondary.font-weight-bold.text-xs(href="javascript:;" data-toggle="tooltip" data-bs-toggle="modal" data-bs-target=`#modal-form${site.id}`).

                                                Edit
                                            include includes/modals/editSite

    //- script(src="/assets/js/core/jquery.min.js")                                     
    script.
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        
        //- toastr[response.data.status](response.data.data, response.data.status)
        toastr['success']('Conratulations', 'success')